{% set pluginlist = [
'matrix-project',
'instant-messaging',
'javadoc',
'git',
'analysis-core',
'git-client',
'warnings',
'cvs',
'ssh-credentials',
'copy-to-slave',
'ldap',
'matrix-auth',
'windows-slaves',
'github-oauth',
'ssh-slaves',
'antisamy-markup-formatter',
'mapdb-api',
'parameterized-trigger',
'ircbot',
'translation',
'description-setter',
'github',
'ssh-agent',
'maven-plugin',
'role-strategy',
'external-monitor-job',
'scm-api',
'pam-auth',
'credentials',
'github-api',
'cobertura',
'subversion',
'mailer',
'simple-theme-plugin',
'envinject',
'ghprb',
'ws-cleanup',
'jquery',
'ant',
'build-pipeline-plugin',
] %}
