{% set snmp = salt['grains.filter_by']({
    'Debian': {'pkg': 'snmpd', 'srv': 'snmpd', 'conf': '/etc/snmp/snmp.conf'},
    'RedHat': {'pkg': 'net-snmp', 'srv': 'snmpd', 'conf': '/etc/snmp/snmpd.conf'}
}, merge=salt['pillar.get']('snmp:lookup')) %}
